* {
    border: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 15px 9%;
    position: relative;
    border-bottom: 8px solid rgb(35,35,35);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    color: white;
    background: #E50914;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

}

nav select {
    border: 0;
    outline: 0;
    color: white;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 10px;
}

.language-btn {
    align-items: center;
    background: transparent;
    color: white;
    display: inline-flex;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 15px;
    padding: 7px 10px;
}

.signin-btn {
    transition: opacity 0.15s
}

.signin-btn:hover {
    opacity: 0.8;
}

.signin-btn:active {
    opacity: 0.6;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: 100px;
    transform: translate(-50%, -50%);

}

.main-content h1 {
    font-size: 3rem;
    font-weight: 900;
    min-width: 1020px;

}

.main-content h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.25rem;
}

.main-form {
    display: flex;
    border-radius: 4px;
    align-items: center;
    background: white;
    margin-top: 20px;
    overflow: hidden;
}

.main-form-email {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: transparent;

}

.main-form-btn {
    border: 0;
    outline: 0;
    color: white;
    background: #E50914;
    cursor: pointer;
    font-size: 24px;
    padding: 15px 30px;
}

/*next page*/

.nextpage {
    padding: 60px 12%;
    font-size: 24px;
    
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0;
    
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-sec {
    flex-basis: 50%;
    margin-bottom: 20px;
    
}

.img-sec img {
    width: 100%;
    display: block;
    margin: auto;
}

.text-col h2 {
    font-size: 48px;
    font-weight: 900;
}

.text-col p {
    font-size: 26px;
    font-weight: 400;

}

.main-form {
    display: flex;
    align-items: center;
    flex-direction: row;
}

select option{
    color:black;

}

/*FAQ*/

.questions{
    border-top: 8px solid rgb(35,35,35);
    padding:10px 12%;
    text-align: center;
    font-size:18px;
}

.questions h2{
    font-weight:900;
    font-size:48px;
}

.accordion{
    margin: 60px auto;
    width:100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    position: relative;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
}

label::after{
    content: '+';
    font-size: 35px;
    position: absolute;
    right: 20px;
    transition: transform 0.4s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    max-height: 0;
    text-align: left;
    padding: 0 20px;
    overflow: hidden;
    transition: max-height 0.4s, padding 0.4s;

}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.footer{
    padding: 50px 15% 10px;
    border-top: 8px solid rgb(35,35,35);
    color:rgba(255, 255, 255, 0.7);

}

.footer h2{
    font-size:18px;
    font-weight: 400;
    margin-bottom: 30px;

}

.footer h2 .number{
    text-decoration: underline;
    color:rgba(255, 255, 255, 0.7);
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}

.copyright{
    font-size:14px ;
    margin-top: 20px;
    margin-bottom: 10px;
}

.select{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.select .select-class select{ 
    padding-left: 3em;
    
}

.select .globe-icon{
    position: relative;
    left: 2em;
}

.getting-started{

    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: normal;
    border: 0px;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    vertical-align: text-top;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
}

.btn{
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
}